.profile__redact-block {
    display: flex;
    align-items: baseline;
    margin: 0 auto;
    column-gap: 18px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .profile__redact-block {
        column-gap: 10px;
        margin-left: 46px;
    }
}