.profile__info {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    flex-basis: content;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .profile__info {
        margin: 22px 19px 36px;
        min-width: 282px;
        row-gap: 14px;
    }
}