.popup__submit {
    width: 100%;
    margin: 48px auto 0;
    padding: 0;
    border: none;
    border-radius: 2px;
    background-color: #000;
    cursor: pointer;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .popup__submit{
        margin: 45px 0 25px;
    }
}