.popup__submit-text {
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    text-align: center;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .popup__submit-text{
        font-size: 15px;
    }
}